img {
    width: 300px;
}

header {
    text-align: center;
}

.heading {
    border: 2px black solid;
    background-color: #98DDCA;
    text-align: center;
    border-radius: 30px;
    color: white;
}

section {
    margin-top: 30px;
    border: 2px black solid;
    background-color: #98DDCA;
    text-align: center;
    border-radius: 30px;
    color: white;
}